.createproduct{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
}
.createproduct input{
    width: 100%;
}
.createproductbtn{
    background-color: rgb(255, 55, 55);
    color: rgb(255, 255, 255);
   outline:none;
   border: none;
    padding: 9px;
    border-radius: 10px;
    cursor: pointer;

}
.bn{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

/* get all products  */
.GetAllProducts{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 95%;
    background-color: rgb(34, 34, 34);
    color: white;
}
.topindenxing{
    display: flex;
    width: 100%;
    color: white;
    align-items: center;
    background-color: black;
    height: 50px;
    justify-content: space-around;
    border-bottom: 1px solid #ffffff;
}


.topindenxing2{
    width: 30%;
    display: flex;
    
    justify-content: center;
}
.topindenxing3{
    width: 10%;
    display: flex;
    
    justify-content: center;
}
.topindenxing4{
    width: 10%;
    display: flex;
justify-content: center;
    
}
.topindxing5{
    display: flex;
    justify-content: space-around;
    width: 10%;
}
.topindxing5 span{
    cursor: pointer;
    
}
.productsfromapi{
    overflow-y: auto;
}