.searchProductPage{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.searchProductPage__container{
    display: flex;
    justify-content:center;
    flex-direction: column;
    width: 80%;
}
.ww{
    height: 100%;
    object-fit: contain;
    margin: 10px;
}
.searchproduct{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.inf{
    display: flex;
    flex-direction: column;
    
}
.nf{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}